{% extends "_single_content.html.twig" %}

{% block title %}{{ "invoice.title"|trans }}{% endblock %}
{% block description %}{{ "invoice.description"|trans }}{% endblock %}

{% import "shared/invoice.html.twig" as invoice_macros %}

{% trans_default_domain "delegation" %}

{% block single_content %}
    <p>{{ env_invoice_disclaimer }}</p>

    {{ invoice_macros.invoice_table(invoice) }}
{% endblock %}
