{% extends "_single_content.html.twig" %}

{% block single_content %}
    <div class="row">
        <div class="col-lg-8">
            {% block form_content %}
                <div class="form-wrapper">
                    {{ form(form) }}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
